spring:
  application:
    name: ai-won-friends-backend
  datasource:
    url: jdbc:h2:mem:devdb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
        hibernate.format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  mail:
    host: smtp.gmail.com
    port: 587
    username: aiwonfriends@gmail.com
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
app:
  mail:
    from: "AI-Won-Friends <aiwonfirends@gmail.com>"
    verify-base-url: "http://localhost:8080/api/auth/verify/email-token"  # 이메일 버튼이 향할 주소
    token-ttl-minutes: 5
logging:
  level:
    org.springframework.security: DEBUG